annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
bleak==3.0.2
click==8.4.0
colorama==0.4.6
fastapi==0.136.1
h11==0.16.0
idna==3.15
numpy==2.4.6
opencv-contrib-python==4.13.0.92
opencv-python==4.13.0.92
pydantic==2.13.4
pydantic_core==2.46.4
python-multipart==0.0.29
starlette==1.0.0
typing-inspection==0.4.2
typing_extensions==4.15.0
uvicorn==0.47.0
winrt-runtime==3.2.1
winrt-Windows.Devices.Bluetooth==3.2.1
winrt-Windows.Devices.Bluetooth.Advertisement==3.2.1
winrt-Windows.Devices.Bluetooth.GenericAttributeProfile==3.2.1
winrt-Windows.Devices.Enumeration==3.2.1
winrt-Windows.Devices.Radios==3.2.1
winrt-Windows.Foundation==3.2.1
winrt-Windows.Foundation.Collections==3.2.1
winrt-Windows.Storage.Streams==3.2.1
